

#my_name {
    background-color: #eaf6f6;
    text-align: center;
    margin: 5px;
    padding: 10px;
}

.container2 {
    background-color: red;
    width: 200px;
    height: 200px;
    border: 5px;
    border-color: gray;
}

.container3 {
    background-color: yellow;
    width: 200px;
    height: 200px;
    border: 5px;
    border-color: gray;
}


