<<<<<<< Updated upstream
body {
    background-color: blue;
}
=======


#my_name {
    background-color: #eaf6f6;
    text-align: center;
    width: 200px;
    height: 200px;
    padding: 20px;
    border: solid 10px;    
}

.container2 {
    background-color: red;
    margin-left: 260px;
    width: 200px;
    height: 200px;
    border: solid 20px;    
}

.container3 {
    background-color: yellow;
    margin-left: 500px;
    width: 200px;
    height: 200px;
    border: solid 10px;    
}


>>>>>>> Stashed changes
